---
const { prev, next, date } = Astro.props;

import { config } from "@/config";

const { twitter, github } = config.site;

const menus = [
  {
    name: "首页",
    url: "/",
    hiddenInMobile: false,
  },
];

if (prev) {
  menus.push({
    name: "上一篇",
    url: prev.url,
    hiddenInMobile: true,
  });
}

if (next) {
  menus.push({
    name: "下一篇",
    url: next.url,
    hiddenInMobile: true,
  });
}

if (github) {
  menus.push({
    name: "Github",
    url: github,
    hiddenInMobile: false,
  });
}

if (twitter) {
  menus.push({
    name: "Twitter",
    url: twitter,
    hiddenInMobile: false,
  });
}
---

<div class="flex justify-between pt-4 pb-4">
  <div>
    <div class="hidden md:block">发布于 {date}</div>
  </div>
  <div id="article-footer">
    <ul class="list-none flex">
      {
        menus.map((menu, index) => {
          const className = menu.hiddenInMobile ? "hidden md:block mr-2" : "mr-2";
          const extraSpan = index === 0 ? "" : <span class="mr-2">|</span>;
          return (
            <li class={className}>
              {extraSpan}
              <a href={menu.url} class="title-link">
                {menu.name}
              </a>
            </li>
          );
        })
    </ul>
  </div>
</div>
